nfs:
  enabled: {{ .Values.nfs.enabled }}
  storageClassName: {{ .Values.nfs.storageClassName  }}
  server: {{ .Values.nfs.server }}
  basePath: {{ .Values.nfs.basePath }}
local:
  enabled: {{ .Values.local.enabled }}
  storageClassName: {{ .Values.local.storageClassName }}
  
